[submodule "website/themes/hugo-theme-learn"]
	path = website/themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "website/themes/hugo-book"]
	path = website/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "telco5g-konflux"]
	path = telco5g-konflux
	url = https://github.com/openshift-kni/telco5g-konflux
[submodule "openshift/grout"]
	path = openshift/grout
	url = https://github.com/DPDK/grout.git
