log file /etc/frr/frr.log debug

debug zebra events
debug zebra vxlan
debug bgp zebra
debug zebra events
debug zebra nht
debug zebra kernel
debug zebra rib
debug zebra nexthop
debug bgp neighbor-events
debug bgp updates
debug bgp keepalives
debug bgp nht
debug bgp zebra
debug bfd network
debug bfd peer
debug bfd zebra

ipv6 forwarding

vrf red
 vni 100
exit-vrf

vrf blue
 vni 200
exit-vrf
!
router bgp 64520
 no bgp ebgp-requires-policy
 no bgp network import-check
 no bgp default ipv4-unicast

 neighbor {{ .Leaf.SpineAddress }} remote-as 64612
 !
 address-family ipv4 unicast
  neighbor {{ .Leaf.SpineAddress }} activate
  network {{ .Leaf.VTEPPrefix }}
   {{- range .Default.IPV4 }}
   network {{ . }}
   {{- end }}
   {{ if .Default.RedistributeConnected }}
   redistribute connected
   {{- end }}
 exit-address-family
 !
 address-family l2vpn evpn
 neighbor {{ .Leaf.SpineAddress }} activate
  advertise-all-vni
  advertise-svi-ip
 exit-address-family
exit
!
router bgp 64520 vrf red
 !
 address-family ipv4 unicast
   {{ if .Red.RedistributeConnected }}
   redistribute connected
   {{- end }}
   {{- range .Red.IPV4 }}
   network {{ . }}
   {{- end }}
 exit-address-family
 !
 address-family ipv6 unicast
   {{ if .Red.RedistributeConnected }}
   redistribute connected
   {{- end }}
   {{- range .Red.IPV6 }}
   network {{ . }}
   {{- end }}
 exit-address-family
 !
 address-family l2vpn evpn
  advertise ipv4 unicast
  advertise ipv6 unicast
  {{- if .Red.RouteTargets }}
  {{- range .Red.RouteTargets.ImportRTs }}
  route-target import {{ . }}
  {{- end }}
  {{- range .Red.RouteTargets.ExportRTs }}
  route-target export {{ . }}
  {{- end }}
  {{- end }}
 exit-address-family
exit
!
router bgp 64520 vrf blue
 !
 address-family ipv4 unicast
   {{ if .Blue.RedistributeConnected }}
   redistribute connected
   {{- end }}
   {{- range .Blue.IPV4 }}
   network {{ . }}
   {{- end }}
 exit-address-family
 !
 address-family ipv6 unicast
   {{ if .Blue.RedistributeConnected }}
   redistribute connected
   {{- end }}
   {{- range .Blue.IPV6 }}
   network {{ . }}
   {{- end }}
 exit-address-family
 !
 address-family l2vpn evpn
  advertise ipv4 unicast
  advertise ipv6 unicast
  {{- if .Blue.RouteTargets }}
  {{- range .Blue.RouteTargets.ImportRTs }}
  route-target import {{ . }}
  {{- end }}
  {{- range .Blue.RouteTargets.ExportRTs }}
  route-target export {{ . }}
  {{- end }}
  {{- end }}
 exit-address-family
exit
!

