log file /etc/frr/frr.log debug
ipv6 forwarding

debug zebra events
debug zebra vxlan
debug zebra nht
debug zebra kernel
debug zebra rib
debug zebra nexthop
debug bgp neighbor-events
debug bgp updates
debug bgp keepalives
debug bgp nht
debug bgp zebra
debug bgp neighbor
debug bgp graceful-restart
debug bfd network
debug bfd peer
debug bfd zebra

router bgp {{ .ASN }}
 bgp graceful-restart
 bgp graceful-restart preserve-fw-state
 no bgp ebgp-requires-policy
 no bgp network import-check
 no bgp default ipv4-unicast

 neighbor {{ .SpinePeerAddress }} remote-as 64612

{{- range .Neighbors }}
{{- if .IsInterface }}
 neighbor {{ .ID }} interface remote-as {{ $.PERouterASN }}
{{- else }}
 neighbor {{ .ID }} remote-as {{ $.PERouterASN }}
{{- end }}
 neighbor {{ .ID }} timers connect 5
{{- if $.EnableBFD }}
 neighbor {{ .ID }} bfd
{{- end }}
{{- end }}

 !
{{- range $af := .BGPAddressFamilies }}
 address-family {{ $af.AFI }} {{ $af.SAFI }}
{{- if $.RedistributeConnected }}
  redistribute connected
{{- end }}
  neighbor {{ $.SpinePeerAddress }} activate
{{- range $.Neighbors }}
  neighbor {{ .ID }} activate
{{- if $.NextHopSelf }}
  neighbor {{ .ID }} next-hop-self force 
{{- end }}
{{- end }}
 exit-address-family
{{- end }}
 !
 address-family l2vpn evpn
  neighbor {{ .SpinePeerAddress }} activate
{{- range .Neighbors }}
  neighbor {{ .ID }} activate
{{- end }}
  advertise-all-vni
  advertise-svi-ip
 exit-address-family
exit
! 
router isis ISIS
  is-type level-1
  advertise-passive-only
  net 49.0001.0000.0000.0004.00
exit
!
interface eth1
  ipv6 router isis ISIS
exit
!
interface {{ .ToSwitchInterface }}
  ipv6 router isis ISIS
exit
!
