apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: perouter
rules:
  - apiGroups:
      - security.openshift.io
    resourceNames:
      - privileged
    resources:
      - securitycontextconstraints
    verbs:
      - use
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: perouter
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: perouter
subjects:
  - kind: ServiceAccount
    name: perouter
    namespace: metallb-system
