log stdout {{.Loglevel}}
log timestamp precision 3
{{- if eq .Loglevel "debug" }}
debug zebra events
debug zebra nht
debug zebra kernel
debug zebra rib
debug zebra nexthop
debug bgp neighbor-events
debug bgp updates
debug bgp keepalives
debug bgp nht
debug bgp zebra
debug bgp neighbor
debug bgp graceful-restart
debug bfd network
debug bfd peer
debug bfd zebra
{{- end }}
hostname {{.Hostname}}
ip nht resolve-via-default
ipv6 nht resolve-via-default

{{- range .VNIs }}
vrf {{ .VRF }}
  vni {{ .VNI }}
exit-vrf
{{- end }}

{{- if .BFDProfiles }}
bfd
{{- range .BFDProfiles }}
{{- template "bfdprofile" dict "profile" . }}
{{- end }}
exit
{{- end }}

route-map allowall permit 1

{{- if .Underlay.MyASN }}
router bgp {{ .Underlay.MyASN }}
  no bgp ebgp-requires-policy
  no bgp network import-check
  no bgp default ipv4-unicast
  bgp router-id {{ .Underlay.RouterID }}
{{- if .Underlay.GracefulRestart }}
  bgp graceful-restart
  bgp graceful-restart preserve-fw-state
  bgp graceful-restart restart-time {{ .Underlay.GracefulRestart.RestartTime }}
  bgp graceful-restart stalepath-time {{ .Underlay.GracefulRestart.StalePathTime }}
{{- end }}

{{- range $n := .Underlay.Neighbors }}
{{- template "neighborsession" dict
    "neighbor" $n
    "routerASN" $.Underlay.MyASN -}}
{{- end }}
{{- range $n := .Underlay.Neighbors }}
{{- template "neighborenableipfamily" dict
    "neighbor" $n
    "routerASN" $.Underlay.MyASN -}}
{{end }}

{{- if .Passthrough }}
{{- template "localpassthrough" . -}}
{{- end }}

{{- if .Underlay.TunnelEndpoint }}
{{- template "underlayevpn" . -}}
{{- end }}
{{- if .Underlay.SegmentRouting }}
{{- template "underlayl3vpn" . -}}
{{- end }}
exit
!
{{- end }}

{{- range $n := .VNIs }}
{{- template "vni" dict
    "vni" $n
    "routerASN" $.Underlay.MyASN -}}
{{- end }}
{{- range $n := .VPNs }}
{{- template "vpn" dict
    "vpn" $n 
    "routerASN" $.Underlay.MyASN -}}
{{- end }}
{{- range .RawConfig }}
{{ .Config }}
{{- end }}

{{- if .Underlay.ISIS }}
{{- template "isis" dict "isisconf" $.Underlay.ISIS "segmentrouting" $.Underlay.SegmentRouting -}}
{{- end }}

{{- if .Underlay.SegmentRouting }}
{{- template "segmentrouting" .Underlay.SegmentRouting -}}
{{- end }}
