{{ define "isis"}}
router isis {{ .isisconf.Name }}
  net {{ .isisconf.Net }}
{{- if eq .isisconf.Level 1 }}
  is-type level-1
{{- else if eq .isisconf.Level 2 }}
  is-type level-2-only
{{- else }}
  is-type level-1-2
{{- end }}
{{- if .isisconf.AdvertisePassiveOnly }}
  advertise-passive-only
{{- end }}
{{- if .segmentrouting }}
  segment-routing srv6
    locator {{ .segmentrouting.Locator.Name }}
  exit
{{- end }}
exit
!
{{- range $interfaceConfig := .isisconf.Interfaces }}
interface {{ $interfaceConfig.Name }}
{{- if $interfaceConfig.IPv4 }}
  ip router isis {{ $.isisconf.Name }}
{{- end }}
{{- if $interfaceConfig.IPv6 }}
  ipv6 router isis {{ $.isisconf.Name }}
{{- end }}
{{- if $interfaceConfig.IsPassive }}
  isis passive
{{- end }}
exit
!
{{- end }}
{{- end }}
