{{- define "localneighbor"}}
  neighbor {{ .LocalNeighbor.Addr }} remote-as {{ .LocalNeighbor.ASN }}
  neighbor {{ .LocalNeighbor.Addr }} remote-as {{ .LocalNeighbor.ASN }}
  neighbor {{ .LocalNeighbor.Addr }} ip-transparent

  address-family ipv4 unicast
  {{- range .ToAdvertiseIPv4 }}
    network {{ . }}
  {{- end }}
    neighbor {{ .LocalNeighbor.Addr }} activate
    neighbor {{ .LocalNeighbor.Addr }} route-map allowall in
    neighbor {{ .LocalNeighbor.Addr }} route-map allowall out
  exit-address-family

  address-family ipv6 unicast
  {{- range .ToAdvertiseIPv6 }}
    network {{ . }}
  {{- end }}
    neighbor {{ .LocalNeighbor.Addr }} activate
    neighbor {{ .LocalNeighbor.Addr }} route-map allowall in
    neighbor {{ .LocalNeighbor.Addr }} route-map allowall out
  exit-address-family
{{- end -}}