{{- define "neighborsession"}}
  {{- if .neighbor.Addr }}
  neighbor {{.neighbor.Addr}} remote-as {{.neighbor.ASN}}
  {{- else }}
  neighbor {{.neighbor.Interface}} interface remote-as {{.neighbor.ASN}}
  {{- end }}
  {{- if .neighbor.EBGPMultiHop }}
  neighbor {{.neighbor.ID}} ebgp-multihop
  {{- end }}
  {{ if .neighbor.Port -}}
  neighbor {{.neighbor.ID}} port {{.neighbor.Port}}
  {{- end }}
  {{ if and .neighbor.KeepaliveTime .neighbor.HoldTime }}
  neighbor {{.neighbor.ID}} timers {{.neighbor.KeepaliveTime}} {{.neighbor.HoldTime}}
  {{- end }}
  {{- if .neighbor.ConnectTime }}
  neighbor {{.neighbor.ID}} timers connect {{.neighbor.ConnectTime}}
  {{- end }}
  {{ if .neighbor.Password -}}
  neighbor {{.neighbor.ID}} password {{.neighbor.Password}}
  {{- end }}
{{- if ne .neighbor.BFDProfile ""}}
  neighbor {{.neighbor.ID}} bfd profile {{.neighbor.BFDProfile}}
{{- else if .neighbor.BFDEnabled}}
  neighbor {{.neighbor.ID}} bfd
{{- end }}
{{- if  mustDisableConnectedCheck .neighbor.NetworkLayerProtocols .routerASN .neighbor.ASN .neighbor.EBGPMultiHop }}
  neighbor {{.neighbor.ID}} disable-connected-check
{{- end }}
{{- if .neighbor.ExtendedNexthop }}
  neighbor {{ .neighbor.ID }} capability extended-nexthop
{{- end }}
{{- if .neighbor.UpdateSource }}
  neighbor {{ .neighbor.ID }} update-source {{ .neighbor.UpdateSource }}
{{- end }}
{{- end -}}
