{{ define "underlayevpn"}}
{{- if .Underlay.TunnelEndpoint.IPv4CIDR }}
  address-family ipv4 unicast
    network {{ .Underlay.TunnelEndpoint.IPv4CIDR }}
  exit-address-family
{{ end }}
{{- if .Underlay.TunnelEndpoint.IPv6CIDR }}
  address-family ipv6 unicast
    network {{ .Underlay.TunnelEndpoint.IPv6CIDR }}
  exit-address-family
{{ end }}
  address-family l2vpn evpn
{{- range .Underlay.Neighbors }}
{{- if activateNeighborFor .NetworkLayerProtocols "l2vpn" "evpn" }}
    neighbor {{ .ID }} activate
{{- if isEBGP $.Underlay.MyASN .ASN }}
    neighbor {{ .ID }} allowas-in
{{- end }}
{{- end }}
{{- end }}
    advertise-all-vni
    advertise-svi-ip
  exit-address-family
{{- end }}
