{{ define "underlayevpn"}}
{{- if .Underlay.EVPN.VTEP }}
  address-family ipv4 unicast
    network {{ .Underlay.EVPN.VTEP }}
  exit-address-family
{{ end }}
  address-family l2vpn evpn
{{- range .Underlay.Neighbors }}
    neighbor {{ .Addr }} activate
    neighbor {{ .Addr }} allowas-in 
{{- end }}
    advertise-all-vni
    advertise-svi-ip
  exit-address-family
{{- end }}
